@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>C3PO</title>
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Resources/css/shivIE.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Resources/css/app.css")" />
    </head>
    <body>
        <div id="app"></div>

        <script type="text/javascript" src="@Url.Content("~/Resources/scripts/build/client.js")"></script>
    </body>
</html>
